// Place all the styles related to the Bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bar_map {
  height: 400px;
  width: 500px;
}

#bars_map {
  height: 400px;
  width: 500px;
}
